riscv.json
riscv.asc
timing
pll.v
formal/riscv-formal
formal/complete
formal/cover
formal/checks
formal/dmemcheck
formal/imemcheck
formal/components_*
test/rtl.cc
*.vvpemacscl
*.vcd
disasm.s
disasm.o
rvfi_macros.vh
.hdl_checker
.emacs/
a.out.dSYM/
obj_dir/
rtl/rom.mem
sim
sim.dSYM/
test/a.out.dSYM/
testbench.vvp