LOCATE COMP "clk_pin" SITE "P6";
IOBUF PORT "clk_pin" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_pin" 25 MHZ;

LOCATE COMP "led_g_n" SITE "A11";
IOBUF PORT "led_g_n" IO_TYPE=LVCMOS33;

LOCATE COMP "led_r_n" SITE "B11";
IOBUF PORT "led_r_n" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "B9";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
